<footer>
  <ul class="footer-main">
    <li>Placeholder</li>
    <li>
      <a href="https://github.com/mikeyCos/members-only" target="_blank">
        <%- include('../../public/assets/icons/github-mark/github-mark.svg') %>
      </a>
    </li>
  </ul>
</footer>
