<header>
  <nav>
    <ul class="nav-left">
      <li>
        <a href="#">Nav left placeholder</a>
      </li>
    </ul>

    <ul class="nav-right">
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/placeholderA">Placeholder A</a>
      </li>

      <% if (locals.currentUser) { %>
        <li>Logged in as <a href="/account/view-profile/<%= currentUser.username %>"><%= currentUser.username %></a></li>
        <li>
          <form action="/account/logout" method="POST">
            <button type="submit">Log out</button>
          </form>
        </li>
      <% } else { %>
        <li>
          <a href="/account/login">Log in</a>
        </li>
        <li>
          <a href="/account/signup">Sign up</a>
        </li>
      <% } %>
      <li>
        <a href="/support">Contact support</a>
      </li>
    </ul>
  </nav>
</header>
