<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/root.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/menuButton.css">
  <link rel="stylesheet" href="/styles/posts.css">
  <link rel="stylesheet" href="/styles/comingSoon.css">
  <script src="/textarea_onInput.js"></script>
  <script src="/menuButton_onClick.js"></script>
  <title><%= title %></title>
</head>
