<button class="btn-menu" aria-pressed="false" onclick="menuButton_onClick(this)">
  <div class="btn-content">
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
  </div>
</button>