<form action="/" method="POST">
  <ul>
    <li class="form-item">
      <label for="post">Post</label>
      <textarea name="post" id="post" placeholder="What is happening?!"></textarea>
      <% if (locals.errors?.post) { %>
        <p class="input-error active-error"><%= errors.post.msg %></p>
      <% } %>
    </li>
  </ul>
  <button type="submit">Post</button>
</form>