<header>
  <nav>
    <ul>
      <li><a href="/account/view-profile/<%= profile.username %>">Overview</a></li>
      <li><a href="/account/view-profile/<%= profile.username %>/placeholderA">PlaceholderA</a></li>
      <li><a href="/account/view-profile/<%= profile.username %>/placeholderB">PlaceholderB</a></li>
    </ul>
  </nav>
</header>