<!DOCTYPE html>
<html lang="en">
<%- include('./head', { title: 'Activate Account' }) %>
<body>
  <%- include('./header') %>
  <main>
    <section id="activate-account">
      <%# Navigation bar for manage account %>
      <header>
        <nav>
          <ul>
            <li><a href="/my-account">My Account</a></li>
          </ul>
        </nav>
      </header>
      <%- include('./activateKeyForm') %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>