<!DOCTYPE html>
<html lang="en">
  <%- include('./head') %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="home">
        <h2>Index</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error dolor rerum quaerat aliquam voluptate eligendi delectus ab illum consequuntur? Odit eum quas error et enim voluptatem quam voluptates iste.</p>
      </section>
    </main>
    <%- include('./footer') %>
  </body>
</html>
