<!DOCTYPE html>
<html lang="en">
<%- include('./head', { title: 'Login' }) %>
<body>
  <%- include('./header') %>
  <main>
    <section id="login">
      <%- include('./loginForm') %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>