<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
  <%- include('./header') %>
  <main>
    <section id="placeholderA">
      <h2>placeholderA</h2>

      <p>Praesent efficitur pulvinar lobortis. Ut vestibulum lectus pellentesque pharetra viverra. Integer eu dignissim velit. Nulla non aliquam eros. Quisque rutrum pulvinar interdum. Integer urna tortor, auctor vehicula molestie eget, accumsan et lacus. Maecenas posuere et erat sit amet porttitor. Ut a sagittis tellus, a rhoncus ipsum.</p>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>