<!DOCTYPE html>
<html lang="en">
<%- include('./head', { title: 'Sign up' }) %>
<body>
  <%- include('./header') %>
  <main>
    <section id="signup">
      <h2>Sign up</h2>
      <%- include('./signupForm') %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>