<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
  <%- include('./header') %>
  <main>
    <section id="support">
      <h2>Support</h2>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>