<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
  <%- include('./header') %>
  <main>
    <section id="support">
      <h2>Support</h2>
      <p>Nunc posuere at ipsum quis rutrum. Proin tristique diam nisl, in efficitur dolor varius et. Nam sit amet dolor eget ipsum lobortis eleifend. Etiam in urna congue, dictum purus vitae, sollicitudin tellus. Praesent non fringilla ligula. Aenean laoreet tortor at mauris tincidunt molestie. Curabitur in placerat sapien. In hac habitasse platea dictumst. Vivamus maximus leo auctor dictum posuere. Nullam at odio a mi commodo convallis in eu quam. Cras mi ipsum, imperdiet non vestibulum id, porta in dolor. Suspendisse hendrerit dapibus ipsum, egestas ultrices massa tincidunt ac. Sed ullamcorper rutrum ipsum non viverra.</p>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>