.header-main {
  padding: 1rem;
  background-color: var(--bkg-color-secondary);
}

.nav-main {
  display: flex;
  justify-content: center;
}

.nav-main a {
  text-wrap: nowrap;
}

.nav-left a {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav-left a:hover h1 {
  rotate: -10deg;
}

.nav-left a h1 {
  position: absolute;
  bottom: 25%;
  background: white;
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
  transition: rotate 150ms ease-in;
  font-size: 1.75rem;
}

.nav-right-wrapper {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  visibility: hidden;
  transition: all 500ms ease-out;
  z-index: 99;
}

.nav-right-wrapper.active {
  visibility: visible;
  width: 100%;
  transition: all 500ms cubic-bezier(0.44, 1.54, 1, 0.92);
}

.nav-right {
  margin-top: 4rem;
}

.nav-right li {
  position: relative;
  padding: 0.5rem;
}

.nav-right li::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bkg-color-secondary);
  transform: translateX(150%) skew(45deg);
  z-index: -1;
  transition: transform 150ms ease-in;
  visibility: hidden;
}

.nav-right li:has(a:hover, button:hover)::before {
  visibility: visible;
  transform: translateX(0%);
  transition: transform 250ms ease-in;
}

.nav-right a,
.nav-right button {
  font-size: 1.5rem;
  font-family: var(--font-family-secondary);
  color: var(--font-color-primary);
}

.nav-right button {
  background: transparent;
}

/* Small devices */
@media screen and (min-width: 481px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
  .nav-main {
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* flex-direction: column; */
  }

  .nav-right-wrapper {
    background-color: transparent;
    position: static;
    height: auto;
    width: auto;
    visibility: visible;
    transition: none;
    z-index: 1;
  }

  .nav-right {
    display: flex;
    margin-top: 0;
  }

  .nav-right li::before {
    background-color: var(--bkg-color-primary);
    transform-origin: 0 100%;
    transform: scaleY(0);
    transition: transform 150ms ease-in;
  }

  .nav-right li:has(a:hover, button:hover)::before {
    transform: scaleY(1) skew(5deg);
    height: 100%;
    transition: transform 250ms ease-in;
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  .nav-main {
    max-width: 1000px;
    margin: auto;
  }
}
