.icon {
  height: auto;
}

.icon.logo {
  width: 10rem;
}

.icon.construction {
  color: var(--bkg-color-secondary);
  width: 100%;
  max-width: 400px;
}

.icon.github {
  color: var(--font-color-primary);
  max-width: 24px;
}

@media screen and (min-width: 768px) {
  .icon.logo {
    width: 7em;
  }
}
