.btn-menu {
  position: fixed;
  right: 0;
  border: none;
  background: transparent;
  z-index: 1;
  /* margin: 2.65rem 1rem; */
}

.btn-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: var(--menu-btn-width);
  height: var(--menu-btn-height);
}

.btn-menu > .menu {
  outline: 1px dashed rgb(0, 0, 0);
}

.btn-menu > .menu > .menu-line {
  transition: 200ms ease-in, opacity 150ms;
  transform-box: fill-box;
  transform-origin: center;
}

.btn-menu[aria-pressed="true"] .menu-line:nth-child(1) {
  x: 20;
  y: 35;
  rotate: 45deg;
}

.btn-menu[aria-pressed="true"] .menu-line:nth-child(2) {
  x: 40;
  y: 35;
  rotate: -45deg;
}

.btn-menu[aria-pressed="true"] .menu-line:nth-child(3) {
  opacity: 0;
  rotate: 45deg;
}

.btn-menu[aria-pressed="true"] .menu-line:nth-child(4) {
  x: 20;
  y: 55;
  rotate: -45deg;
}

.btn-menu[aria-pressed="true"] .menu-line:nth-child(5) {
  x: 40;
  y: 55;
  rotate: 45deg;
}

/* Small devices */
@media screen and (min-width: 481px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
}
