#posts {
  max-width: 500px;
  margin: auto;
}

#posts > *:not(:first-child, :last-child) {
  /* margin-bottom: 1rem; */
}

#posts > article {
  position: relative;
  padding: 2rem 1rem;
}

#posts > article::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--bkg-color-quaternary);
}

#posts > article > ul {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

#posts > article a {
  position: relative;
  color: blue;
}

#posts > article a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: currentColor;
  visibility: hidden;
}

#posts > article a:hover::after {
  visibility: visible;
}

#posts > article > p {
  white-space: pre-line;
  word-break: break-all;
}

#posts > article a {
  font-family: var(--font-family-secondary);
  font-weight: 600;
}

#posts .posts-zero {
  text-align: center;
}

/* Small devices */
@media screen and (min-width: 481px) {
  #posts > article > ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
}
