/*
 * Define font-face(s) here
 * Define custom variables here
 * Define general styling here
 */

@font-face {
  font-family: Noto Sans;
  src: url("../assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Oswald;
  src: url("../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --font-color-primary: #161314;
  --anchor-color: #0043a7;
  --bkg-color-primary: #f2f2f2;
  --bkg-color-secondary: #64bf84;
  --bkg-color-tertiary: #038c3e;
  --bkg-color-quaternary: #dfbb85;
  --menu-btn-width: 32px;
  --menu-btn-height: 32px;
  --font-family-primary: Noto Sans, sans-serif;
  --font-family-secondary: Oswald, Arial;
}

body {
  min-height: 100svh;
  display: grid;
  grid-auto-rows: min-content 1fr min-content;
  background-color: var(--bkg-color-primary);
  font-family: var(--font-family-primary);
}

main {
  padding: 1rem;
}

main > section {
  outline: 2px dashed rgb(255, 153, 0);
  height: 100%;
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
}

button {
  color: var(--font-color-primary);
  border: none;
  border-radius: 0.5rem;
}
